*{padding: 0; margin: 0; box-sizing: border-box;}
body{background-color: #ebebeb;font-family: 'Roboto', sans-serif;}
h1{font-size: 20px;}
h1 img{width: 15px;}
h1 a:hover{color:#ccc}
h2{color: #fff;text-align: center;padding-top: 50px;}
.container-header{background-color: #222;width: 100%;padding: 20px 50px;color:#fff;display: flex;justify-content: space-between;}
.container-header a, .container-menu a{text-decoration: none;color:#fff;}
.container-menu{background-color: rgb(66, 66, 66);height: 100vh;width: 250px;margin-bottom:20px;}
ul{padding-top: 30px;}
ul li{list-style: none;padding: 18px;text-align: center;}
ul li:hover{background-color: rgb(2, 23, 90);}
ul li img{width: 15px;}