*{padding: 0; margin: 0; box-sizing: border-box;}
body{background-color: #ebebeb;font-family: 'Roboto', sans-serif;}
.header{background-color: rgb(241, 241, 241);width: 270px;position: absolute;height: 100vh;box-shadow: 0 0 0.5em rgb(190, 190, 188);text-align: center;padding-top: 25px;}
.header .logo{text-align: center;}
.header h2{color: #626262;text-align: center;font-size: 14px;padding: 10px 0px;font-style: italic;}
.header .box{background-color: rgb(206, 206, 206);width: 90%;
display: flex;box-shadow: 0 0 0.2em rgb(70, 70, 70);margin: 12px auto;padding:12px 0px;cursor: pointer;border-radius: 5px;text-align: center;align-items: center;}
.header .box:hover{background-color: rgb(72, 75, 238);}
.header .box a{text-decoration: none;color:#000000;}
.header .box img{width: 15px;margin: 0px 20px;position: relative;top:2px;left: 5px;}
.header .box span{font-size: 13px;font-weight: 500;}
.header p{text-align: center;padding-top: 100px;font-size: 12px;font-weight: 500;}